/* ##### mobile first ##### */

/* ***** commons ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
}


.header-lt,
aside {
    width: 50px;
}


/* ***** header ***** */

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header-rt {
    width: calc(100% - 50px);
    height: 100px;
}

/* ***** aside menu ***** */

aside {
    height: calc(100vh - 50px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    top: 50px;
    left: 0;
}

aside .menu-top,
aside .menu-bottom {
    width: 100%;
}


/* ***** main ***** */

/* ***** footer ***** */



/* +++++ debug +++++ */

.debug .header-lt {
    height: 50px;
    background-color: black;
}

.debug .header-rt {
    background-color: #080B12;
}

.debug aside {
    background-color: green;
}

.debug aside .menu-top,
.debug aside .menu-bottom {
    height: 100px;
    border: 2px solid red;
}